@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

* { box-sizing: border-box; }
body { margin: 0; font-family: Arial, "Noto Sans Thai", sans-serif; }
button { cursor: pointer; }
